<div class="grid">
  <div class="NavBar"><img src="" alt=""></div>
  <div class="header">
     <ul>
    <li><a class="active" href="#home">Home</a></li>
    <li><a href="#news">News</a></li>
    <li><a href="#contact">Contact</a></li>
    <li><a href="#about">About</a></li>
    </ul></div>
  <div class="sidebar">
    
<ul>
    <li><a class="active" href="#home">Home</a></li>
    <li><a href="#news">News</a></li>
    <li><a href="#contact">Contact</a></li>
    <li><a href="#about">About</a></li>
  </ul>
  
  </div>
  <div class="content">
   
<table>
  <tr>
    <td><img src="https://images.unsplash.com/photo-1444021465936-c6ca81d39b84?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=8a1f162e9c72410fb540f8fc6b3d1a3d&auto=format&fit=crop&w=800&q=80" style="height: 200px; width: 200px;">item1</td>
    <td><img src="https://images.unsplash.com/photo-1444021465936-c6ca81d39b84?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=8a1f162e9c72410fb540f8fc6b3d1a3d&auto=format&fit=crop&w=800&q=80" style="height: 200px; width: 200px;">item2</td>
    <td><img src="https://images.unsplash.com/photo-1444021465936-c6ca81d39b84?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=8a1f162e9c72410fb540f8fc6b3d1a3d&auto=format&fit=crop&w=800&q=80" style="height: 200px; width: 200px;"></td>
  </tr>
  <tr>
    <td><img src="https://images.unsplash.com/photo-1444021465936-c6ca81d39b84?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=8a1f162e9c72410fb540f8fc6b3d1a3d&auto=format&fit=crop&w=800&q=80" style="height: 200px; width: 200px;">item1</td>
    <td><img src="https://images.unsplash.com/photo-1444021465936-c6ca81d39b84?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=8a1f162e9c72410fb540f8fc6b3d1a3d&auto=format&fit=crop&w=800&q=80" style="height: 200px; width: 200px;">item2</td>
    <td><img src="https://images.unsplash.com/photo-1444021465936-c6ca81d39b84?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=8a1f162e9c72410fb540f8fc6b3d1a3d&auto=format&fit=crop&w=800&q=80" style="height: 200px; width: 200px;">item3</td>
  </tr>
  <tr>
    <td><img src="https://images.unsplash.com/photo-1444021465936-c6ca81d39b84?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=8a1f162e9c72410fb540f8fc6b3d1a3d&auto=format&fit=crop&w=800&q=80" style="height: 200px; width: 200px;">item1</td>
    <td><img src="https://images.unsplash.com/photo-1444021465936-c6ca81d39b84?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=8a1f162e9c72410fb540f8fc6b3d1a3d&auto=format&fit=crop&w=800&q=80" style="height: 200px; width: 200px;">item2</td>
    <td><img src="https://images.unsplash.com/photo-1444021465936-c6ca81d39b84?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=8a1f162e9c72410fb540f8fc6b3d1a3d&auto=format&fit=crop&w=800&q=80" style="height: 200px; width: 200px;">item3</td>
  </tr>
  <tr>
    <td><img src="https://images.unsplash.com/photo-1444021465936-c6ca81d39b84?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=8a1f162e9c72410fb540f8fc6b3d1a3d&auto=format&fit=crop&w=800&q=80" style="height: 200px; width: 200px;">item1</td>
    <td><img src="https://images.unsplash.com/photo-1444021465936-c6ca81d39b84?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=8a1f162e9c72410fb540f8fc6b3d1a3d&auto=format&fit=crop&w=800&q=80" style="height: 200px; width: 200px;">item2</td>
    <td><img src="https://images.unsplash.com/photo-1444021465936-c6ca81d39b84?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=8a1f162e9c72410fb540f8fc6b3d1a3d&auto=format&fit=crop&w=800&q=80" style="height: 200px; width: 200px;">item3</td>
  </tr>
  <tr>
    <td><img src="https://images.unsplash.com/photo-1444021465936-c6ca81d39b84?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=8a1f162e9c72410fb540f8fc6b3d1a3d&auto=format&fit=crop&w=800&q=80" style="height: 200px; width: 200px;;">item1</td>
    <td><img src="https://images.unsplash.com/photo-1444021465936-c6ca81d39b84?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=8a1f162e9c72410fb540f8fc6b3d1a3d&auto=format&fit=crop&w=800&q=80" style="height: 200px; width: 200px;">item2</td>
    <td><img src="https://images.unsplash.com/photo-1444021465936-c6ca81d39b84?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=8a1f162e9c72410fb540f8fc6b3d1a3d&auto=format&fit=crop&w=800&q=80" style="height: 200px; width: 200px;">item3</td>
</tr>
</table>
  </div>
  <div class="footer">Footer</div>
</div>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
