<!-- <nav class='navbar navbar-inverse navbar-fixed-top'>
  <div class='navbar-header'>
    <a class="navbar-brand home" href="#">Gorgeous Gardens</a>
  </div>
  <div>
    <a class="navbar-brand navbar-right glyphicon glyphicon-shopping-cart" href="#"></a>
    <a class="nav navbar-brand navbar-right" href="#">About</a>
    <a class="nav navbar-brand navbar-right" href="#">Products</a>
  </div>
</nav> -->


<div class="container">
  <div class="jumbotron text-center">
    <div class="container">
      <h1>Gorgeous Gardens</h1>
      <p>Your one stop shop for all your gardening needs!! </p>
    </div>
  </div>

<div class="container">
  <div class="row">
    <div class="col-lg-4">
      <div class="thumbnail">
          <img class='pic1'>
      </div>
    </div>
    <div class="col-lg-4">
      <div class="thumbnail">
          <img class="pic2">
      </div>
    </div>
    <div class="col-lg-4">
      <div class="thumbnail">
        <img class="pic3">
      </div>
    </div>
  </div>
</div>
<hr>
<h1>About:</h1>
<div class="col-lg-4">Lorem ipsum dolor sit amet, etiam integer sed, metus est aliquam, porta lectus a eu pellentesque eu tristique, vehicula viverra ut nec. Nunc convallis dui non vel vivamus amet, ipsum vel nulla massa interdum sed, erat aliquam, porta est in. Duis blandit, amet duis libero parturient lectus suspendisse, adipiscing viverra arcu, sociis et sed semper. Aliquam wisi laoreet eu lobortis eu etiam. Curabitur placerat arcu varius vivamus, eu non non imperdiet, iaculis integer irure ullamcorper tincidunt nostra, a suscipit luctus urna wisi vitae culpa, sem nunc dui. Nec luctus metus praesent lacinia velit.</div>
<div class="col-lg-4">Lorem ipsum dolor sit amet, etiam integer sed, metus est aliquam, porta lectus a eu pellentesque eu tristique, vehicula viverra ut nec. Nunc convallis dui non vel vivamus amet, ipsum vel nulla massa interdum sed, erat aliquam, porta est in. Duis blandit, amet duis libero parturient lectus suspendisse, adipiscing viverra arcu, sociis et sed semper. Aliquam wisi laoreet eu lobortis eu etiam. Curabitur placerat arcu varius vivamus, eu non non imperdiet, iaculis integer irure ullamcorper tincidunt nostra, a suscipit luctus urna wisi vitae culpa, sem nunc dui. Nec luctus metus praesent lacinia velit.</div>
<div class="col-lg-4">Lorem ipsum dolor sit amet, etiam integer sed, metus est aliquam, porta lectus a eu pellentesque eu tristique, vehicula viverra ut nec. Nunc convallis dui non vel vivamus amet, ipsum vel nulla massa interdum sed, erat aliquam, porta est in. Duis blandit, amet duis libero parturient lectus suspendisse, adipiscing viverra arcu, sociis et sed semper. Aliquam wisi laoreet eu lobortis eu etiam. Curabitur placerat arcu varius vivamus, eu non non imperdiet, iaculis integer irure ullamcorper tincidunt nostra, a suscipit luctus urna wisi vitae culpa, sem nunc dui. Nec luctus metus praesent lacinia velit.</div>



</div>





<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">




<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
